<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmov.bombermanandroid.app" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cmov.bombermanandroid.app.GameActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmov.bombermanandroid.app.RunGameActivity"
            android:label="@string/title_activity_run_game"
            android:parentActivityName="com.cmov.bombermanandroid.app.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmov.bombermanandroid.app.GameActivity" />
        </activity>
        <activity
            android:name="com.cmov.bombermanandroid.app.MultiplayerActivity"
            android:label="@string/title_activity_multiplayer"
            android:parentActivityName="com.cmov.bombermanandroid.app.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="GameActivity" />
        </activity>
    </application>

</manifest>
